Repository Lucas-Angelo/pizzaria, pull requests merged in 2022-10, with the labels that each got.

#34 Frontend/user access
  src/frontend/layouts/default.vue
  src/frontend/layouts/empty.vue
  src/frontend/pages/cadastro.vue
  src/frontend/pages/index.vue
  src/frontend/pages/login.vue
  src/frontend/pages/pedidos.vue
  src/frontend/pages/usuarios.vue
Labels: enhancement, frontend

#38 criação de um novo campo
  src/backend/README.md
  src/backend/controllers/PedidoController.js
  src/backend/models/Pedido.js
  src/backend/services/PedidoService.js
  src/database/DatabaseScript.sql
Labels: backend, database

#37 Feat/add filter getall pedidos
  src/backend/controllers/PedidoController.js
  src/backend/services/PedidoService.js
Labels: backend

#40 Add order creation date
  src/frontend/components/Order.vue
  src/frontend/pages/pedidos.vue
Labels: enhancement

#46 New backend requirements
  src/backend/controllers/PedidoController.js
  src/backend/controllers/PizzaController.js
  src/backend/controllers/UsuarioController.js
  src/backend/database/index.js
  src/backend/models/Pedido.js
  src/backend/models/Usuario.js
  src/backend/services/PedidoService.js
  src/backend/services/PizzaService.js
  src/backend/services/UsuarioService.js
  src/database/DatabaseModel.mwb
  src/database/DatabaseScript.sql
  src/database/Model.png
Labels: backend, database

#61 Cardapio page & add field nome on create user form
  src/frontend/layouts/cliente.vue
  src/frontend/layouts/default.vue
  src/frontend/pages/cadastro.vue
  src/frontend/pages/cardapio.vue
  src/frontend/pages/login.vue
Labels: frontend

#62 feat: add filter to getAll Pizza
  src/backend/helpers/pizza.js
  src/backend/services/PizzaService.js
Labels: backend

#68 Frontend add logradouro and tel on pedido modal
  src/backend/controllers/PedidoController.js
  src/backend/models/Pedido.js
  src/backend/services/PedidoService.js
  src/database/DatabaseScript.sql
  src/frontend/components/Order.vue
  src/frontend/pages/pedidos.vue
  src/frontend/pages/telacliente.vue
  src/frontend/pages/usuarios.vue
Labels: enhancement, frontend
